In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('data.csv')

In [3]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,22-Aug-2022,102.25,102.70,111.90,102.50,108.2,107.40,107.89,1138635,1228.51,13127,322310,28.31
1,21STCENMGM,EQ,22-Aug-2022,27.50,28.05,28.05,28.05,28.05,28.05,28.05,4593,1.29,30,4593,100
2,3IINFOLTD,EQ,22-Aug-2022,45.70,45.70,45.70,44.00,44,44.15,44.76,521274,233.32,4275,300991,57.74
3,3MINDIA,EQ,22-Aug-2022,22856.45,22856.45,22987.90,22300.00,22300,22361.50,22531.79,1356,305.53,766,639,47.12
4,3PLAND,EQ,22-Aug-2022,17.15,18.40,18.85,16.25,18.85,18.85,18.45,36436,6.72,339,32007,87.84

In [4]:
print (df['SERIES'].dtype)

object

In [5]:
print (df['PREV_CLOSE'])

0         102.25
1          27.50
2          45.70
3       22856.45
4          17.15
          ...
2262      267.80
2263      178.10
2264      180.15
2265      388.30
2266     1610.95
Name: PREV_CLOSE, Length: 2267, dtype: float64

In [6]:
print (df['PREV_CLOSE'].dtype)

float64

In [7]:
print (df['SERIES'].astype('category')) 
# category stores data in column in the form of list that consumes lesser memory.
# It maps the rows to appropriate object in the list that reduces size of dataframes.
# while object data type consumes more memory as it stores each cell individually.

0        EQ
1        EQ
2        EQ
3        EQ
4        EQ
       ...
2262     EQ
2263     EQ
2264     EQ
2265     EQ
2266     EQ
Name: SERIES, Length: 2267, dtype: category
Categories (62, object): [' BE', ' BZ', ' E1', ' EQ', ..., ' Z8', ' Z9', ' ZA', ' ZI']