In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame([[1,2,3,4,],[5,6,7,8,],[2,7,3,23],[3,6,8,23],[28,23,63,99]],columns= ['A1','B1','C1','D1'] )

In [3]:
df

   A1  B1  C1  D1
0   1   2   3   4
1   5   6   7   8
2   2   7   3  23
3   3   6   8  23
4  28  23  63  99

In [4]:
# df.to_csv('export.csv')
df.to_csv('export.csv',index= False) # used to remove the first default index column.